{% extends'::admin.html.twig' %}

{% block body %}
    <style>
        /*.dt-buttons{
            display: none!important;
        }*/
    </style>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var $table1 = jQuery('#table-1');
// Initialize DataTable
            $table1.DataTable({
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true,
                dom: 'lBfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
// Initalize Select Dropdown after DataTables is created
            $table1.closest('.dataTables_wrapper').find('select').select2({
                minimumResultsForSearch: -1
            });
        });
    </script>
    <h4 style="padding: 10px 0px;">Religion</h4> <span><a href="{{ path('admin_religion_insert') }}" class="btn btn-info">Add Religion</a></span>
    <table class="table table-bordered datatable" id="table-1">
        <thead>
        <tr>
            <th>Religion</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        {% for item in Religion %}
            <tr class="odd gradeX">
                <td> &nbsp; {{ item.name }}</td>
                <td class="col-md-2" style="text-align: center;">
                    <a href="{{ path('admin_religion_update',{id:item.id}) }}" class="btn btn-default btn-sm btn-icon icon-left"> <i class="entypo-pencil"></i>Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Religion</th>
            <th>Action</th>
        </tr>
        </tfoot>
    </table>


{% endblock %}